
@import java.util.concurrent.TimeUnit
@import org.joda.time.format.DateTimeFormat
@import models.services.UserCertificateService
@* @this(userCertificateService: UserCertificateService) *@

@(user: models.User, userCertificateService: UserCertificateService)(implicit messages: Messages)

@main(Messages("home.title"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">@Messages("welcome.signed.in")</h4>
            <div class="col-md-4 text-right">
                <img src="@user.avatarURL.getOrElse(routes.Assets.at("images/silhouette.png"))" height="40px" />
            </div>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("first.name"):</strong></p><p class="col-md-6">@user.firstName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("last.name"):</strong></p><p class="col-md-6">@user.lastName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("full.name"):</strong></p><p class="col-md-6">@user.fullName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("email"):</strong></p><p class="col-md-6">@user.email.getOrElse("None")</p>
                </div>
                @if(user.userCertificates.isDefined) {
                    <div class="row">
                        <div class="col-md-6"><strong>Certificate Details:</strong></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-2" style="word-wrap:break-word;"><b>SNo</b></div>
                                <div class="col-md-2" style="word-wrap:break-word;"><b>Number</b></div>
                                <div class="col-md-2" style="word-wrap:break-word;"><b>Date of Issue</b></div>
                                <div class="col-md-2" style="word-wrap:break-word;"><b>Validity (In Days)</b></div>
                            </div>
                        </div>
                    </div>


                    @for((certificate, i) <-  user.userCertificates.get.view.zipWithIndex) {
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-2">@(i+1)</div>
                                    <div class="col-md-2" style="word-wrap:break-word;">@certificate.certificateNumber.toString</div>
                                    <div class="col-md-2" style="word-wrap:break-word;">@DateTimeFormat.forPattern("d/M/yyyy").print(certificate.validFrom)</div>
                                    <div class="col-md-2" style="word-wrap:break-word;">@certificate.validity.toUnit(TimeUnit.DAYS)</div>
                                    @if(userCertificateService.doesUserCertificateNeedRenewal(certificate.validFrom, certificate.validity)) {
                                        <div class="col-md-4" style="word-wrap: break-word;">
                                            <button id="submit" type="submit" value="submit"
                                            class="btn btn-lg btn-primary btn-block">@Messages("certificate.renew")</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
